@use "../abstracts" as *;

#hero {
	height: calc(100dvh - $header-height);
	background-color: #2d2e32;
	display: flex;
	align-items: center;
	position: relative;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url("/src/assets/ruben-profielfoto.png");
		background-repeat: no-repeat;
		background-size: 65vh;
		background-position: 75% bottom;
		opacity: 0.75;
		z-index: 0;
	}

	.hero-text {
		display: flex;
		flex-direction: column;
		gap: 5rem;
		padding-left: 30rem;
		color: white;

		h1 {
			font-size: 6.4rem;
			font-weight: 500;
		}

		p {
			font-size: 3.2rem;
			color: $text-tertiary-color;

			.skill {
				color: $text-secondary-color;
			}
		}

		.hero__cta {
			z-index: 1;
			display: inline-block;
			margin-top: 4.8rem;
			font-size: inherit;
			font-weight: 500;
			text-transform: uppercase;

			font-size: 1.8rem;
			line-height: 1.2;
			vertical-align: middle;

			a {
				display: inline-block;
				text-decoration: none;
				color: $text-secondary-color;
				border: 2px solid $text-secondary-color;
				padding: 2rem 2.4rem;

				&:hover {
					background-color: $text-secondary-color;
					color: $bg-primary-color;
					box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
					transform: translateY(-2px);
				}
			}

			.cta {
				color: white;
			}
		}
	}
}
