@use "./variables" as *;

@media (max-width: 125em) {
	#root {
		#hero {

			&::before{
				background-position: 85% bottom;
			}
			.hero-text{
				gap: 3rem;
				p {
					font-size: 6.2rem;
				}
			}
		}
	}
}

@media (max-width: 110em) {
	#root {
		#hero {

			&::before{
				background-size: 60vh;
			}
			.hero-text{
				padding-left: 15rem;

			}
		}
	}
}

@media (max-width: 90em) {
	#root {
		#hero {
			&::before{
				opacity: 0.25;
				background-position: 55% bottom;
			}
			.hero-text{
				width: 100%;
				padding-left: 0;
				align-items: center;

			}
		}
	}
}

@media (max-width: 75em) {
	#root {
		header {
			.social-nav {
				&__text {
					display: none;
				}
			}

			.main-nav {
				.main-nav__list {
					margin-left: 0;
				}
			}
		}

		#hero {
			.hero-text{

				h1 {
					font-size: 8.6rem;
				}
				p {
					font-size: 6.2rem;
				}
			}
		}
	}
}

@media (max-width: 65em) {
	#root {
		header {
			.main-nav {
				justify-content: space-between;
				gap: 0;
			}
			.social-nav {
				display: none;
			}
		}

		#hero {
			.hero-text{

				h1 {
					font-size: 7.4rem;
				}
				p {
					font-size: 5.2rem;
				}
			}
		}
	}
}

@media (max-width: 45em) {
	#root {
		header {
			.main-nav {
				.main-nav__list {
					position: absolute;
					top: 12rem;
					left: 0;
					display: none;
					flex-direction: column;
					background-color: #2d2e32;

					width: 100%;
					gap: 0;

					&.open {
						display: flex;
					}

					li {
						width: 100%;
						box-sizing: border-box;
						padding: 20px;
						border-top: 1px solid white;
						text-align: center;

						&:hover {
							background-color: #424347;

							& > a {
								color: #00ff7f;
								&:hover,
								&:active {
									&::before {
										content: "";
									}

									&::after {
										content: "";
									}
								}
							}
						}

						&:last-child {
							border-bottom: 1px solid white;
						}
					}
				}
			}

			.btn-mobile-nav {
				display: block;
			}
		}

		#hero {
			.hero-text{

				h1 {
					font-size: 6.2rem;
				}
				p {
					font-size: 4.4rem;
				}
			}
		}
	}
}

@media (max-width: 30em) {
	#root {
		header {
			padding: 4rem 0;
		}

		#hero {
			&::before {
				background-position: 50% bottom;
			}


			.hero-text{
				gap: 2rem;
				transform: translateY(150%);
				h1 {
					display: none;
				}
				p {
					font-size: 3rem;
				}

				.hero__cta {
					margin-top: 1.6rem;
					font-size: 1.6rem;

					a {
						padding: 1.4rem 2rem;
					}
				}
			}
		}
	}
}

